<!DOCTYPE html>
<html>
<head>
  <title>Audio Collection Portal</title>
</head>
<body>

<h2>Help Audio Dataset Collections</h2>

<p>
  🎯 <b>Instruction:</b> Please record yourself saying the following sentences <b>TWICE for each emotion</b>:<br><br>
  1. मलाई अहिले सहयोग चाहिएको छ।<br>
  2. कृपया यहाँबाट टाढा जानुहोस्।<br>
  3. म यहाँ सुरक्षित महसुस गरिरहेको छैन।<br>
</p>

<p>Select the emotion for saying the sentences:</p>

<button onclick="setCategory('angry')">😠 Angry</button>
<button onclick="setCategory('disgust')">🤢 Disgust</button>
<button onclick="setCategory('fear')">😨 Fear</button>
<button onclick="setCategory('happy')">😄 Happy</button>
<button onclick="setCategory('sad')">😢 Sad</button>
<button onclick="setCategory('neutral')">😐 Neutral</button>
<button onclick="setCategory('surprise')">😲 Surprise</button>

<p id="status" style="margin-top:10px; font-weight:bold;"></p>

<hr>

<button id="start">🎙 Start Recording</button>
<button id="stop" disabled>⏹ Stop Recording</button>

<br><br>

<audio id="audio" controls></audio>

<br><br>

<button id="upload">⬆ Upload Audio</button>

<script src="{{ url_for('static', filename='recorder.js') }}"></script>

</body>
</html>
